body {
    font-family: 'Rubik', sans-serif;
    text-align: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(red, orange, yellow, green, blue, indigo, violet);
    }

.button {
    border-radius: 1.1em;
    margin-top: 1.5em;
    background-color: blueviolet;
    border-color: black;
    font-size: 2em;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

.button:hover {
    box-shadow: 0px 1px 4px .5px rgb(0, 0, 0);
    cursor: pointer;
}

footer {
    bottom: 0;
    position: absolute;
    color: white;
}

a {
   background-color: rgb(77, 89, 99); 
   font-weight: bold;
   color: black;
}

#scoreDiv {
    display: inline-flex;
    justify-content: space-around;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}

#playerScore {
    padding-left: 20px;
}

